/* *{
  padding: 0;
  margin: 0;
} */
@import "tailwindcss";

@font-face {
  font-family: font1;
  font-weight: 500;
  src: url('/fonts/Lausanne-500.woff2') format('woff2');
}

@font-face {
  font-family: font2;
  font-weight: 300;
  src: url('/fonts/Lausanne-300.woff2') format('woff2');
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: #000000;
}

.movelink{
  opacity: 0;
  transition: all ease .3s;
}

.link:hover .movelink{
  opacity: 1;
}

.moveX{
  animation-name: moveAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


@keyframes moveAnimation{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}